html, body {
	background-color: black;
}

p {
    color: white;
    font-size: 1.2em;
    margin-bottom: 50px;
}

.flag {
    height: 12px;
    float: left;
    position: relative;
    margin-right: 8px;
    margin-top: 4px;
}

.navbar {
    position: relative;
    width: auto;
    height: 50px;
}

.info-list {
    margin: 200px auto;
}
.info-list a {
    width: 100%;
    font-size: 0.9em;
    background: transparent;
    border-color: grey;
}

.toggle-btn {
    margin: 0 auto;
}
.toggle-btn button {
    font-size: 0.9em;
}

.input-group{
    margin-left: 50px;
    margin-bottom: 50px;
    width: 50%;
}

.country:hover {
	fill-opacity: 0.8;
	stroke: white;
}

#my_dataviz {
	margin: 50px 55px;
}

#bar-chart {
    margin: 150px auto;
    margin-bottom: 0;
}

div.tooltip {
    color: #222;
    background-color: #fff;
    padding: .5em;
    text-shadow: #f5f5f5 0 1px 0;
    border-radius: 2px;
    opacity: 0.9;
    position: absolute;
}

.toolline {
    stroke: grey;
    stroke-dasharray: 0.5em
}